<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="JsonPath" value="D:\C#-fs\Repository-Yogesh\Console Programming Tasks-C#\GenerateJSONFileForEmployees\GenerateJSONFileForEmployees\Employee.json"/>
		<add key="XmlPath" value="D:\C#-fs\Repository-Yogesh\Console Programming Tasks-C#\GenerateJSONFileForEmployees\GenerateJSONFileForEmployees\Employee.xml"/>
		<add key="Host" value="smtp-mail.outlook.com"/>
		<add key="Port" value="587"/>
		<add key="SSL" value="true"/>
		<add key="FromEmail" value="nykumar@qualminds.com"/>
		<add key="Username" value="nykumar@qualminds.com"/>
		<add key="Password" value="Madhu@2526"/>
	</appSettings>
</configuration>
